.btn {
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 50px;
    font-size: 16px;
    background: #46a2fd;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

    .btn:hover {
        opacity: 0.9;
    }

.posts {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0.5rem;
}

.post {
    border: 0px solid aqua;
    margin: 0.5rem;
    position: relative;
    height: 12rem;
    overflow: hidden;
    border-radius: 0.5rem;
    flex: 1;
    min-width: 290px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

@media (min-width: 900px) {

    .post {
        height: 20rem
    }
}

.post::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);
    
    z-index: 0;
}

.news-card__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /*     background: rgba(255,0,0,.5); */
}

.news-card__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 3s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    z-index: -1;
}

.news-card__text-wrapper {
    width: auto;
    position: absolute;
    bottom: 0rem;
    padding: 1rem;
    color: white;
    /*     background-color: rgba(0, 0, 0, 0.4); */
    transition: background-color 1.5s ease;
   
}

.news-card__title {
    transition: color 1s ease;
    margin-bottom: .5rem;
}

.news-card__post-date {
    font-size: .7rem;
    margin-bottom: .5rem;
    color: #CCC;
}

.news-card__details-wrapper {
    max-height: 0;
    opacity: 0;
    transition: max-height 1.5s ease, opacity 1s ease;
    
}

@media (min-width: 900px) {
    .post:hover .news-card__details-wrapper {
        height: 20rem;
        opacity: 1;
        
    }

    .post:hover .news-card__text-wrapper {
        background-color: rgba(0, 0, 0, 0.6);
    }

    .post:hover .news-card__title {
        color: yellow;
    }

    .post:hover .news-card__image {
        transform: scale(1.2);
        z-index: -1;
    }
}

.news-card__excerpt {
    font-weight: 300;
}

.news-card__read-more {
    background: black;
    color: #bbb;
    display: block;
    padding: 0.4rem 0.6rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
    border: 1px solid #444;
    font-size: 0.8rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-decoration: none;
    width: 7rem;
    margin-left: auto;
    position: relative;
    z-index: 5;
}

    .news-card__read-more i {
        position: relative;
        left: 0.2rem;
        color: #888;
        transition: left 0.5s ease, color 0.6s ease;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .news-card__read-more:hover i {
        left: 0.5rem;
        color: yellow;
    }

/* Slideshow container */
.slideshow-container {
    max-width: auto;
    position: relative;
    margin-top: 20px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }

/*Contenedor de categorias*/

input[type="radio"] {
    display: none;
}

.container-category {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

    .container-category label {
        padding: 6px 40px;
        margin: 10px;
        font-size: 20px;
        background: #e2e2e2;
        border-radius: 5px;
        cursor: pointer;
    }

        .container-category label:hover {
            opacity: 0.8;
        }

/*sistema de filtrado*/

[value="TODAS"]:checked ~ .posts .post[data-category] {
    display: block;
}

[value="OCIO"]:checked ~ .posts .post [data-category~="OCIO"],
[value="PASEO"]:checked ~ .posts .post:not([data-category~="PASEO"]),
[value="ENTRETENIMIENTO"]:checked ~ .posts .post:not([data-category~="ENTRETENIMIENTO"]),
[value="EDUCATIVA"]:checked ~ .posts .post:not([data-category~="EDUCATIVA"]) {
    display: none;
    background: #ff0000;
}

[value="TODAS"]:checked ~ .container-category [for="TODAS"],
[value="OCIO"]:checked ~ .container-category [for="OCIO"],
[value="PASEO"]:checked ~ .container-category [for="PASEO"],
[value="ENTRETENIMIENTO"]:checked ~ .container-category [for="ENTRETENIMIENTO"],
[value="EDUCATIVA"]:checked ~ .container-category [for="EDUCATIVA"] {
    background: #46a2fd;
    color: #fff;
}

@media screen and (max-width: 1200px) {
    .content-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .content-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 580px) {
    .content-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}